.shelf-card{
    background-color: rgba(0, 0, 0, 0.542);
    color: whitesmoke;
    border:.5em;
    border-style: solid;
    border-radius: 2em;
    padding:1em;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    margin: 2vh;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .shelf-card:hover {
    transform: scale(1.2);
    text-decoration: none;
    color: black;
    background-color: #000000;
    filter: drop-shadow(0 0 20px #00f2ff) contrast(2) brightness(2);
  }