.shelf-card{
    background-color: rgba(0, 0, 0, 0.542);
    color: whitesmoke;
    border:.5em;
    border-style: solid;
    border-radius: 2em;
    padding:4em;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    margin: 2vh;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    font-size: 1.5rem;
  }

