body {
    background-image: url(https://i.pinimg.com/originals/8d/a9/07/8da9074b5420a96f47a5941e0c317b58.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin:0;
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat994.cur), auto !important;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(to top right, #003300 0%, #99ff99 100%);
    padding:1.5em;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
   }


  
  .shelf-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  div > .shelf-btn {
    cursor: pointer;
  }