.book-details {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 2em;
  color: white;
  font-size: 2em;
}

.cover{
  height: 10em;
  left: 50%;
  margin-top: -2em;
  margin-left: -4em;
  margin-bottom: 5em;
  position: relative;
  top: 30%;
  width: 8em;
  border: 1em ridge;
  border-color: rgba(3, 255, 3, 0.618);
  border-radius: 10em 10em 10em 10em;
}

