.detail-page{
  background-image: url(https://64.media.tumblr.com/dcde2367fcae967e3988fa8f565f14f7/tumblr_ox43okKR9M1uxrf48o1_640.gifv);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}



.book-details {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 2em;
  color: white;
  font-size: 2vw;
  padding:1em;
  background-color: rgba(0, 0, 0, 0.44);
}

.cover{
  background-color: rgba(0, 0, 0, 0.542);
  color: whitesmoke;
  border:.5em;
  border-style: solid;
  border-radius: 2em;
  padding:1em;
  align-items: center;
  justify-items: center;
  margin-top: 4em;
  margin-left: 28em;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  font-size: 1.5rem;
}

